[Desktop Entry]
Encoding=UTF-8
Version=0.4.4
Type=Application
Terminal=false
Exec=/usr/local/bin/WebcamDownloader
Name=Webcam Downloader
Icon=/usr/share/WebcamDownloader/icon.png
